@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



#wall{
	padding-top:9rem;
  	padding-bottom:9rem;
	h1, h2{
		color:$white;
		text-shadow: 1px 1px 4px #000;
	}
	border-bottom: 2px solid $ghost;
	margin-bottom:1rem;
}

.post_list{
	margin-bottom:2rem;
}

.post_list_img{
	border-radius: 4px;
  	border: none;
  	padding-top:2.2rem;
  	padding-bottom:2.2rem;
  	border-bottom-right-radius: 0px;
  	border-bottom-left-radius: 0px;
}

.post_list_title{
	color:$white;
	text-shadow: 1px 1px 4px #000;
	font-size:1.8rem;
	text-align:center;
}

.post_list_subtitle{
	color:$white;
	text-shadow: 1px 1px 4px #000;
	font-size:1.3rem;
	text-align:center;
}

.post_list_content{
	padding-top:1rem;

}

.post_list_info{
	margin-top:1.2rem;
	color: $white;
	text-shadow: 1px 1px 4px #000;
	img{
		border-radius: 5px;
  		vertical-align: middle;
  		width: 2rem;
	}
	.mention{
		font-size:0.8rem;
		margin-left:0.5rem;
	}
}


#post_info{
	margin-bottom:0.8rem;
	color: #738089;
	img{
		border-radius: 5px;
  		vertical-align: middle;
  		width: 2rem;
	}
	.mention{
		font-size:0.8rem;
		margin-left:0.5rem;
	}
}

#post_info_footer{
	margin-bottom:0.8rem;
	color: #738089;
	img{
		border-radius: 5px;
  		vertical-align: middle;
  		width: 5rem;
	}
	.mention{
		font-size:0.9rem;
		margin-left:0.5rem;
		margin-top:-4.8rem;
		margin-left:6.5rem;
		max-width : 15rem;
		span{
			font-size:1.1rem;
			color: $tuatara;
		}
	}
	.title_info_footer{
		font-size:0.9rem;
		margin-bottom:1rem;
	}
}

.post_article_link{
	margin-top:3rem;
	a{
		font-size:0.9rem;
	}
}

#content{
	text-align:justify;
	hr{
		margin-top:0.8rem;
		border: 0;
		width:2rem;
		height:0.4rem;
		background-color:$primary_color;
	}
}

#footer{
	padding-top:1rem;
	padding-bottom:1rem;
	font-size:0.75rem;
}

.rrssb-buttons li a {
	border-radius: 0px;
}

.rrssb-buttons li {
	padding: 0;
}

.rrssb-buttons {
	margin-top:1em;
	margin-bottom:1em;
}

.rrssb-buttons-top li a .rrssb-icon {
  padding-top: 7px;
}

.rrssb-buttons-top li {
  line-height: 8px;
}

.rrssb-buttons-top {
  height: 30px;
}